<!-- <link rel="stylesheet" href="/css/header.css"> -->

<header class="headermain" id="headermain">

    <div id="logo" class="logo">
        E R S
    </div>
 
    <div id="headerControls" class="headerControls">
        <a href="/"> home </a>
        <a href="/login"> login </a>
        <a href="/register"> register </a>
    </div>

</header>