<link rel="stylesheet" href="/css/home.css">

<h1>Employee Review System Application</h1>
<p>Please <span> <a href="/login">login</a></span> or <span> <a href="/register">signup</a></span> to Continue</p>