header, hr {
    display: none !important;
}

main {
    min-width: 100vw !important;
    min-height: 100vh !important;
    background-image: url('/images/404.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
}

main , h1 {
    color: white !important;
}

h1 {
    font-size: 50px;
}

div {
    min-width: 100%;
    /* margin-left: 50px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h2, h1 {
    width: 20vw;
    height: 10vw; 
    text-align: center;                                             
}